<a href="https://colab.research.google.com/github/DimaUd/Heart-Attack/blob/main/Heart_Attack_Classifications_Part2_DataPrepararation_and_Modeling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Importing Libraries and Dataset-יבוא ספריות ונתונים להבנת הנתונים

In [17]:
#Importing Libraries
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
sns.set_style('darkgrid')
pd.options.mode.chained_assignment = None
pd.options.display.float_format = '{:.2f}'.format
pd.set_option('display.max_columns', 40)
pd.set_option('display.width', 600)
%matplotlib inline 


from sklearn.compose  import ColumnTransformer #column subsets  that transformed separately and the features generated by each transformer will be concatenated to form a single feature space. 
from sklearn.pipeline import Pipeline #Pipeline is used to assemble several steps that can be cross-validated together while setting different parameters.
from sklearn.preprocessing import  StandardScaler, OneHotEncoder, RobustScaler,OrdinalEncoder,MinMaxScaler
from sklearn.model_selection import train_test_split, GridSearchCV,cross_val_score
from sklearn.neighbors import KNeighborsClassifier

from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, roc_curve, roc_auc_score,plot_confusion_matrix,f1_score
from sklearn import metrics
import warnings
warnings.filterwarnings('ignore', category=DeprecationWarning)

### Reading The Dataset

In [16]:
# Dataset on my github-page
url='https://github.com/DimaUd/Heart-Attack-/blob/main/heart_clean_data.csv?raw=true'
heart_clean_data=pd.read_csv(url)
display(heart_clean_data.head())

   age  sex  cp  trtbps  chol  fbs  restecg  thalachh  exng  oldpeak  slp  caa  thall  output
0   63    1   3     145   233    1        0       150     0     2.30    0    0      1       1
1   37    1   2     130   250    0        1       187     0     3.50    0    0      2       1
2   41    0   1     130   204    0        0       172     0     1.40    2    0      2       1
3   56    1   1     120   236    0        1       178     0     0.80    2    0      2       1
4   57    0   0     120   354    0        1       163     1     0.60    2    0      2       1