<a href="https://colab.research.google.com/github/DimaUd/Heart-Attack/blob/main/Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# דוגמה לשימוש בלמידה מונחית
##בצורה פרויקטלית בהתאם לשלבים של מחזור חיים בפרויקט לימוד מכונה
## מטרה להכיר איך נראה פרויקט של למידת מכונה תוך כדי שימוש בגישת למידת מכונה עם הנחיה
## :בפרויקט זה נשתמש בעיקר בספריות 




* [scikit-learn](https://scikit-learn.org/stable/#)- עבור ישום מודלים והכנת נתונים
* [pandas](https://pandas.pydata.org/docs/user_guide/index.html)- סידור נתונים ובדיקתם
* [matplotlib](https://matplotlib.org/) & [seaborn](https://seaborn.pydata.org/)- עבור ויזואליזציה של נתונים
* [numpy](https://numpy.org/doc/stable/reference/generated/numpy.argmax.html#numpy.argmax) - חישובים אלגבריים



---
* [KNN](https://docs.google.com/document/d/1f1AezrCGfuBdZ6Xi_jfTCAp-USfMQc09oc17YMyojYs/edit?usp=sharing) :הצגת עבודה של אלגוריתם 


![HeartDisease.jpg](https://archive.ics.uci.edu/ml/assets/MLimages/Large45.jpg)

# **Business Understanding**

# **( [Heart attack](https://www.infomed.co.il/diseases/heart-attack/))  התקף לב**
##### התקף לב הוא אירוע המתרחש על פי רוב כאשר קריש דם חוסם את זרימת הדם בעורק 
##### הכלילי – כלי דם המעביר דם אל חלק משריר הלב. הפרעה בזרימת הדם אל הלב עלולה
##### לפגוע בחלק משריר הלב, או להרוס אותו 

##### בעבר, התקפי לב הסתיימו לעתים קרובות במוות. הודות למודעות הגוברת לסימנים 
##### ולתסמינים של התקפי לב ולשיפור בטיפול, כיום רב האנשים הלוקים בהתקף לב נשארים בחיים

 **סיבות וגורמי סיכון**
 ##### המונח הרפואי של התקף לב הוא "אוטם שריר הלב". מיו- משמעו שריר, קרדיו פירושו לב, אינפרקט פירושו מוות של רקמה, כתוצאה ממחסור בחמצן. כמו כל שריר אחר, גם הלב זקוק לאספקה סדירה וקבועה של דם. ללא דם, תאי הלב נפגעים, באופן שגורם לכאב או לחץ. אם אספקת הדם אינה מתחדשת, תאי הלב עלולים למות ובמקרה כזה יכולה להיווצר רקמת צלקת, במקום רקמת לב פעילה. זרימה בלתי מספקת של דם אל הלב, יכולה לגרום להפרעה בקצב הלב שעלולה להיות קטלנית.

 ##### אוטם שריר הלב מתרחש כאשר יש סתימה באחד או בכמה מהעורקים המספקים דם עשיר בחמצן ללב. עורקים אלו נקראים עורקים כליליים והם מקיפים את הלב כמו כתר. עם הזמן, עורק כלילי נהיה צר יותר כתוצאה מהצטברות שכבה של כולסטרול. הצטברות שכבה זו – המוכרת בשם הכולל פלאקס - בעורקים בכל חלקי הגוף, מכונה בשם טרשת עורקים (אתרוסקלרוזיס) .

 ##### בזמן שמתרחש אוטם שריר הלב, הפלאקס עלול להיקרע וכתוצאה מכך נוצר במקום הקרע קריש דם. אם קריש הדם גדול מספיק, הוא עלול לחסום את זרימת הדם דרך העורק. מצב בו עורקים כליליים מוצרים כתוצאה מטרשת העורקים, מכונה בשם מחלת טרשת העורקים. מחלת טרשת העורקים היא הגורם העיקרי בהא הידיעה להתקפי לב.

 ##### גורם לא נפוץ של אוטם שריר הלב הוא עווית או פרכוס בעורק כלילי, שעוצר את זרימת הדם אל חלק משריר הלב. סמים כמו קוקאין עלולים לגרום לעווית קטלנית שכזו.

 ##### גורמים מסוימים, המכונים גורמי סיכון כליליים, מעלים את הסיכון ללקות בהתקף לב. גורמים אלו תורמים להיווצרות הבלתי רצויה של שכבות (טרשת עורקים) שמצרות את העורקים בכל הגוף, כולל עורקים המובילים אל הלב. 

 ###  גורמי הסיכון לפקקת (תרומבוזה) בעורק כלילי כוללים

* עישון טבק 

* לחץ דם גבוה. עם הזמן, לחץ דם גבוה עלול לפגוע בעורקים המזינים את הלב, בכך שהוא מאיץ טרשת עורקים.

* רמה גבוהה של כולסטרול או טריגליצרידים בדם

* פעילות גופנית לוקה בחסר
* השמנת יתר. לאנשים שמנים במיוחד יש יחס גבוה של שומן גוף (מסת גוף בשיעור של 30 או יותר)
* סוכרת
* מתח
* אלכוהול. כאשר הוא נצרך במתינות, אלכוהול מסייע בהעלאת רמות ה-HDL – הכולסטרול ה"טוב" – ויכול להגן מפני התקפי לב
* היסטוריה משפחתית של התקפי לב
* (CRP) C אנשים שיש להם רמות גבוהות של הומוציסטיאן, חלבון 
##### ופיברינוגן נמצאים ברמת סיכון גבוהה יותר למחלת לב

# **:מטרת הפרויקט**
#####   זיהוי מוקדם של אנשים עם סבירות גבוהה יותר להיתקף לב 
#####  ידע זה מאפשר לאנשים עם סבירות גבוהה יותר לאירוע לב להתכונן ולנקוט באמצעי כדי למנוע במידת האפשר
 


****

**לפני שמתחילים פרויקט צריך להכיר את הנושא שאותו אנחנו הולכים לחקור בצורה מספקת**

**בנוסף חשוב להיעזר  במידת האפשר באנשים מתחום הנלמד**

#**Data Understanding & Exploration**
data source [UCI Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Heart+Disease)

####1.Hungarian Institute of Cardiology. Budapest: Andras Janosi, M.D.
####2.University Hospital, Zurich, Switzerland: William Steinbrunn, M.D.
####3.University Hospital, Basel, Switzerland: Matthias Pfisterer, M.D.
####4.V.A. Medical Center, Long Beach and Cleveland Clinic Foundation: Robert Detrano, M.D., Ph.D.

####**Data Description**

This database contains 76 attributes, but all published experiments refer to using a subset of 14 of them. In particular, the Cleveland database is the only one that has been used by ML researchers to this date. The "goal" field refers to the presence of heart disease in the patient. It is integer valued from 0 (no presence) to 4. Experiments with the Cleveland database have concentrated on simply attempting to distinguish presence (values 1,2,3,4) from absence (value 0).

####**Data Overview**

#####Dataset Characteristics: Multivariate
#####Number of Instances: 303
#####Area: Life
#####Attribute Characteristics: Categorical, Integer, Real
#####Number of Attributes: 75
#####Date Donated: 1988-07-01
#####Associated Tasks: Classification
#####Missing Values? Yes


**About The Dataset**
#####1. Age : Age of the patient     
#####2. Sex : Sex of the patient (1 = male, 0 = female)
#####3. exang: exercise induced angina (1 = yes; 0 = no)
#####4. ca: number of major vessels (0-3)
#####5. cp : Chest Pain type chest pain type
* Value 1: typical angina
* Value 2: atypical angina
* Value 3: non-anginal pain
* Value 4: asymptomatic

#####6. trtbps : resting blood pressure (in mm Hg)
#####7. chol : cholestoral in mg/dl fetched via BMI sensor
#####8. fbs : (fasting blood sugar > 120 mg/dl) (1 = true; 0 = false)
#####9. rest_ecg : resting electrocardiographic results
* Value 0: normal
* Value 1: having ST-T wave abnormality (T wave inversions and/or ST elevation or depression of > 0.05 mV)
* Value 2: showing probable or definite left ventricular hypertrophy by Estes' criteria

#####10. thal: 3 = normal; 6 = fixed defect; 7 = reversable defect
#####11. thalach : maximum heart rate achieved
#####12. oldpeak: ST depression induced by exercise relative to rest
#####13. slope: the slope of the peak exercise ST segment
* Value 1: upsloping
* Value 2: flat
* Value 3: downsloping

####14. **target : 0 = less chance of heart attack, 1 = more chance of heart attack**

#### כדי לעבוד בצורה נכונה עם הנתונים חשוב מאד להבין ברמה מספיקה מה אומר כל אחד ממשתנים 
####  להגדיר מה סוג של המשתנה ענין זה משפיעה בצורה רבה על בחירת מודלים ומדדים 
###  שמסוגלים להתמודד עם סוג מתאים של המשתנים

#### וכמובן השפעה רבה על תוצאות המודלים ויכולת הסבר של התוצאות שאנחנו מקבלים

#### בנוסף הבנה זו תתרום תרומה מכרעת להרכבת משתנים נוספים והבנת חריגים לא רק ברמה סטטיסטית
#### מדען נתונים שרוצה להשיג תוצר איכותי חייב לרדת לפרטים

### Importing Libraries and Dataset-יבוא ספריות ונתונים להבנת הנתונים

In [1]:
#Importing Libraries
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
sns.set_style('darkgrid')
import warnings
warnings.filterwarnings('ignore', category=DeprecationWarning)
pd.options.mode.chained_assignment = None
pd.options.display.float_format = '{:.2f}'.format
pd.set_option('display.max_columns', 40)
pd.set_option('display.width', 600)
%matplotlib inline 

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler 
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier

### Reading The Dataset

In [2]:
# Dataset on my github-page
url='https://github.com/DimaUd/Heart-Attack-/blob/main/heart.csv?raw=true'
heart_data =pd.read_csv(url,)
display(heart_data.head())
display(heart_data.tail())

   age  sex  cp  trtbps  chol  fbs  restecg  thalachh  exng  oldpeak  slp  caa  thall  output
0   63    1   3     145   233    1        0       150     0     2.30    0    0      1       1
1   37    1   2     130   250    0        1       187     0     3.50    0    0      2       1
2   41    0   1     130   204    0        0       172     0     1.40    2    0      2       1
3   56    1   1     120   236    0        1       178     0     0.80    2    0      2       1
4   57    0   0     120   354    0        1       163     1     0.60    2    0      2       1

     age  sex  cp  trtbps  chol  fbs  restecg  thalachh  exng  oldpeak  slp  caa  thall  output
298   57    0   0     140   241    0        1       123     1     0.20    1    0      3       0
299   45    1   3     110   264    0        1       132     0     1.20    1    0      3       0
300   68    1   0     144   193    1        1       141     0     3.40    1    2      3       0
301   57    1   0     130   131    0        1       115     1     1.20    1    1      3       0
302   57    0   1     130   236    0        0       174     0     0.00    1    1      2       0

### Descriptive statistics

#### Generale Dataset  Statistics

In [3]:
display(heart_data.describe(include = 'all').T)
print("=========================================")
print("The shape of the dataset is : ", heart_data.shape)

          count   mean   std    min    25%    50%    75%    max
age      303.00  54.37  9.08  29.00  47.50  55.00  61.00  77.00
sex      303.00   0.68  0.47   0.00   0.00   1.00   1.00   1.00
cp       303.00   0.97  1.03   0.00   0.00   1.00   2.00   3.00
trtbps   303.00 131.62 17.54  94.00 120.00 130.00 140.00 200.00
chol     303.00 246.26 51.83 126.00 211.00 240.00 274.50 564.00
fbs      303.00   0.15  0.36   0.00   0.00   0.00   0.00   1.00
restecg  303.00   0.53  0.53   0.00   0.00   1.00   1.00   2.00
thalachh 303.00 149.65 22.91  71.00 133.50 153.00 166.00 202.00
exng     303.00   0.33  0.47   0.00   0.00   0.00   1.00   1.00
oldpeak  303.00   1.04  1.16   0.00   0.00   0.80   1.60   6.20
slp      303.00   1.40  0.62   0.00   1.00   1.00   2.00   2.00
caa      303.00   0.73  1.02   0.00   0.00   0.00   1.00   4.00
thall    303.00   2.31  0.61   0.00   2.00   2.00   3.00   3.00
output   303.00   0.54  0.50   0.00   0.00   1.00   1.00   1.00

=========================================
The shape of the dataset is :  (303, 14)

#####בשביל הבנה כללית בקשר לנתונים שיש בקובץ
#####אנחנו רוצים לראות בצורה סיכומית ממוצעים וסטיות תקן 
#####  של המשתנים 

 #####  חשוב לשים לב על ערכים קיצוניים לפי משתנים 
  
#####  כמו כן חשוב לראות האם נתונים שלנו מאוזנים 
#####  זאת אומרת שפחות או יותר מספר אנשים עם סבירות 
#####  להיתקף לב שווה למספר אנשים עם סבירות נמוכה

#### Checking for null values

In [4]:
heart_data[heart_data.isna().any(axis=1)]

Empty DataFrame
Columns: [age, sex, cp, trtbps, chol, fbs, restecg, thalachh, exng, oldpeak, slp, caa, thall, output]
Index: []

#### בדיקת איכות נתונים לקיום ערכים  חסרים שיכולים לשבש עבודה של אלגוריתמים רבים שמשתמשים בלמידת מכונה

#### Checking for duplicates rows

In [5]:
heart_data[heart_data.duplicated()]

     age  sex  cp  trtbps  chol  fbs  restecg  thalachh  exng  oldpeak  slp  caa  thall  output
164   38    1   2     138   175    0        1       173     0     0.00    2    4      2       1

In [6]:
# Removing the duplicates
heart_data.drop_duplicates(keep='first',inplace=True)
print("The shape of the dataset is after dropping dublicate row: ", heart_data.shape)

The shape of the dataset is after dropping dublicate row:  (302, 14)

#### בדיקת כפילויות הציפה לנו תצפית כפולה או לפחות זהה ולכן אני מחליט לטפל בתופעה זו על ידי מחיקה של התצפית

#### Unique value & Data types

In [8]:
unique_val={}
for i in (heart_data.columns):
    unique_val[i]=heart_data[i].value_counts().shape[0]
display(pd.DataFrame(unique_val,index=["unique_val"]))
print("____________Data type___________") 
print(heart_data.info())

            age  sex  cp  trtbps  chol  fbs  restecg  thalachh  exng  oldpeak  slp  caa  thall  output
unique_val   41    2   4      49   152    2        3        91     2       40    3    5      4       2

____________Data type___________
<class 'pandas.core.frame.DataFrame'>
Int64Index: 302 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       302 non-null    int64
 1   sex       302 non-null    int64
 2   cp        302 non-null    int64
 3   trtbps    302 non-null    int64
 4   chol      302 non-null    int64
 5   fbs       302 non-null    int64
 6   restecg   302 non-null    int64
 7   thalachh  302 non-null    int64
 8   exng      302 non-null    int64
 9   oldpeak   302 non-null    float64
 10  slp       302 non-null    int64
 11  caa       302 non-null    int64
 12  thall     302 non-null    int64
 13  output    302 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 35.4 KB
None

#### טבלת מספר ערכים יחודיים לפי משתנים בקובץ מספקת 
####מבט נוסף ותחושה טובה יותר בקשר למשתנים וסוגיהם 
 (כעדות נוספת לקובץ הסבר)
#### מהצגה של אינפורמציה על הקובץ אנחנו מזההים שכל המשתנים מוצגים בצורה מספרית כולל קטגורליים

#### Creating data by categorical and continuous

In [9]:
categorical_features  =[]
numeric_features  =[]
for column in heart_data.drop(['output'],axis=1).columns:
    print('________________________')
    print(f"{column}:{heart_data[column].unique()}")
    if len(heart_data[column].unique())<=10:
        categorical_features.append(column)
    else:numeric_features .append(column)  
print('______Categorical Columns____________')
print(categorical_features )  
print('________Continuous Columns____________')
print(numeric_features )

________________________
age:[63 37 41 56 57 44 52 54 48 49 64 58 50 66 43 69 59 42 61 40 71 51 65 53
 46 45 39 47 62 34 35 29 55 60 67 68 74 76 70 38 77]
________________________
sex:[1 0]
________________________
cp:[3 2 1 0]
________________________
trtbps:[145 130 120 140 172 150 110 135 160 105 125 142 155 104 138 128 108 134
 122 115 118 100 124  94 112 102 152 101 132 148 178 129 180 136 126 106
 156 170 146 117 200 165 174 192 144 123 154 114 164]
________________________
chol:[233 250 204 236 354 192 294 263 199 168 239 275 266 211 283 219 340 226
 247 234 243 302 212 175 417 197 198 177 273 213 304 232 269 360 308 245
 208 264 321 325 235 257 216 256 231 141 252 201 222 260 182 303 265 309
 186 203 183 220 209 258 227 261 221 205 240 318 298 564 277 214 248 255
 207 223 288 160 394 315 246 244 270 195 196 254 126 313 262 215 193 271
 268 267 210 295 306 178 242 180 228 149 278 253 342 157 286 229 284 224
 206 167 230 335 276 353 225 330 290 172 305 188 282 185 326 274 164 307
 249 341 407 217 174 281 289 322 299 300 293 184 409 259 200 327 237 218
 319 166 311 169 187 176 241 131]
________________________
fbs:[1 0]
________________________
restecg:[0 1 2]
________________________
thalachh:[150 187 172 178 163 148 153 173 162 174 160 139 171 144 158 114 151 161
 179 137 157 123 152 168 140 188 125 170 165 142 180 143 182 156 115 149
 146 175 186 185 159 130 190 132 147 154 202 166 164 184 122 169 138 111
 145 194 131 133 155 167 192 121  96 126 105 181 116 108 129 120 112 128
 109 113  99 177 141 136  97 127 103 124  88 195 106  95 117  71 118 134
  90]
________________________
exng:[0 1]
________________________
oldpeak:[2.3 3.5 1.4 0.8 0.6 0.4 1.3 0.  0.5 1.6 1.2 0.2 1.8 1.  2.6 1.5 3.  2.4
 0.1 1.9 4.2 1.1 2.  0.7 0.3 0.9 3.6 3.1 3.2 2.5 2.2 2.8 3.4 6.2 4.  5.6
 2.9 2.1 3.8 4.4]
________________________
slp:[0 2 1]
________________________
caa:[0 2 1 3 4]
________________________
thall:[1 2 3 0]
______Categorical Columns____________
['sex', 'cp', 'fbs', 'restecg', 'exng', 'slp', 'caa', 'thall']
________Continuous Columns____________
['age', 'trtbps', 'chol', 'thalachh', 'oldpeak']

In [10]:
for column in heart_data[categorical_features ].columns:
    print('________________________')
    print(f"{column}:{heart_data[column].value_counts()}")

________________________
sex:1    206
0     96
Name: sex, dtype: int64
________________________
cp:0    143
2     86
1     50
3     23
Name: cp, dtype: int64
________________________
fbs:0    257
1     45
Name: fbs, dtype: int64
________________________
restecg:1    151
0    147
2      4
Name: restecg, dtype: int64
________________________
exng:0    203
1     99
Name: exng, dtype: int64
________________________
slp:2    141
1    140
0     21
Name: slp, dtype: int64
________________________
caa:0    175
1     65
2     38
3     20
4      4
Name: caa, dtype: int64
________________________
thall:2    165
3    117
1     18
0      2
Name: thall, dtype: int64

,ביקורת של משתנים קטגורליים מגלה שבשני משתנים קטגוריאליים 
#####יש יותר קטגוריות מהמוצהר בהסבר מצורף לנתונים
##### ,במקרה כזה כמובן הכי טוב להבין איך הדבר הזה נוצר ולדבר עם אחראי על נתונים 
##### כדי לברר איך נכון להתיחס לנתונים אלו בניתוח
##### במקרים רבים אנחנו בטח נקבל תשובה ונפעל עלפיה. 
##### במקרה נוכחי  אני יכול למחוק את התצפיות שמכילות את הקטגוריות לא 
##### מזוהות אבל אני מחליט לשמור תצפיות אלו ולהחליף אותם בערך שכיח ביותר